body {
	background-image: url("../img/back.jpg");

}

.p-0 {
	padding: 0;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 50px;
	width: 50px;
	 
}

.image-zagolovok {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	margin-left: 12%;
	background-image: url("../img/zag.jpg");
	width: 75%;
	padding: 12% 10%;
	 }

section p {
	font-family: 'Lobster', cursive;
	font-size: 150%;
	padding: 0.5%;}

section p span {
	color: #dc3545;
	font-size: 170%;
}

div#myDiv {
	transform: rotate(-15deg); 
	font-family: 'Lobster', cursive;
	font-size: 150%;

}

div.motiv  {
	
	width: 75%;
	margin-top: 5%;

}

.motiv p {
	font-family: 'Neucha', cursive;

}
.motiv span {
	color: #6610f2;
}
.info-pro {
background-image: url("../img/back-1.jpg");

	width: 75%;
	margin-left: 12%;	
	margin-bottom: 5%;
	border: 2px solid #007bff;
	padding: 3% 0 3% 15%;
}
.m-3 {
	font-family: 'Lobster', cursive;
	font-size: 525%;
}
